[submodule "space_math_utilities"]
	path = space_math_utilities
	url = https://github.com/ifrunistuttgart/space-math-utilities.git
[submodule "vleo-aerodynamics-core"]
	path = vleo-aerodynamics-core
	url = https://github.com/ifrunistuttgart/vleo-aerodynamics-core.git
